<div class="container py-4">
  <h2 class="jumbotron-heading text-center">Experiences</h2>
  <section class="py-4">
    <div>
      <h3>ABC Agency, Inc., Sometown, NY | 2013 - Present</h3>
      <p class="lead text-muted">
        Worked collaboratively with clients and in-house agency teams to provide
        rapid, robust, and client-acclaimed front- and back-end web development
        optimizing user experience, search engine ranking, sales, brand
        positioning, and related metrics. Led front-end development and assisted
        with back-end programming for website overhaul. Ensured the technical
        feasibility and optimum functioning of design features that accelerated
        load-time by 17% and improved site stickiness by 21%. Increased web
        traffic 125% by improving navigation, creating dynamic media sections,
        introducing virtual tours, and adding social media plugins.
      </p>
    </div>
    <div>
      <h3>XYZ Tech Solutions, City, State | 2010 - 2013</h3>
      <p class="lead text-muted">
        Assisted in building and maintaining websites, learning front-end and
        back-end technologies, and gaining hands-on experience. Participated in
        the development of a mobile app and resolved issues causing site
        crashes, elevating uptime to 99%.
      </p>
    </div>
  </section>
</div>
