<div class="container py-4">
  <h2 class="jumbotron-heading text-center">Skills</h2>
  <section class="py-4">
    <div>
      <ul class="lead">
        <li>
          <strong>Languages & Frameworks</strong>:
          <span class="text-muted"
            >CSS3, JavaScript (ES6+), React.js, Vue.js, Angular</span
          >
        </li>

        <li>
          <strong>Backend Development</strong>:
          <span class="text-muted"
            >Node.js, Express, MongoDB, SQL, RESTful APIs, GraphQL</span
          >
        </li>
        <li>
          <strong>DevOps & Deployment</strong>:
          <span class="text-muted"
            >AWS, Docker, Jenkins, CI/CD Pipelines, Nginx, GitHub Actions</span
          >
        </li>
        <li>
          <strong>Tools & Platforms</strong>:
          <span class="text-muted"
            >Git, Webpack, Babel, ESLint, Visual Studio Code, JIRA</span
          >
        </li>
      </ul>
    </div>
  </section>
</div>
