.header {
  background: #eeaeca;
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  &_title {
    text-align: center;
    font-size: 3rem;
    margin: 0;
    padding: 3rem 0;
    letter-spacing: 1.5px;
  }
}
