<div class="container py-4">
  <h2 class="jumbotron-heading text-center">About Me</h2>
  <p class="lead text-muted">
    Results-driven Web Developer with 5+ years of experience in designing,
    developing, and maintaining web applications. Proven ability in optimizing
    web functionalities that improve data retrieval and workflow efficiencies.
    Skilled in HTML, CSS, JavaScript, and React, with a focus on creating
    user-friendly and aesthetically pleasing websites that generate high levels
    of traffic.
  </p>
</div>
