<div class="container py-4">
  <h2 class="jumbotron-heading text-center">Projects</h2>
  <section class="py-4">
    <div>
      <ul class="lead">
        <li>
          <strong>E-Commerce Website</strong>:
          <span class="text-muted"
            >Developed a responsive e-commerce website using React and Node.js,
            resulting in a 27% increase in eCommerce sales.</span
          >
        </li>
        <li>
          <strong>Mobile App</strong>:
          <span class="text-muted"
            >Created a mobile app for a restaurant chain, resolving issues
            causing site crashes and improving user experience.</span
          >
        </li>
        <li>
          <strong>UI / UX</strong>:
          <span class="text-muted"
            >Revamped website aesthetics that resulted in a 35% increase in user
            engagement.</span
          >
        </li>
        <li>
          <strong>SEO</strong>:
          <span class="text-muted"
            >Implemented SEO strategies boosting website visibility on search
            engine results by 40%.</span
          >
        </li>
      </ul>
    </div>
  </section>
</div>
