<div class="container py-4">
  <h2 class="jumbotron-heading text-center">Projects</h2>
  <section class="py-4">
    <div>
      <ul>
        <li>
          <strong>E-Commerce Website</strong>: Developed a responsive e-commerce
          website using React and Node.js, resulting in a 27% increase in
          eCommerce sales.
        </li>
        <li>
          <strong>Mobile App</strong>: Created a mobile app for a restaurant
          chain, resolving issues causing site crashes and improving user
          experience.
        </li>
        <li>
          <strong>UI / UX</strong>: Revamped website aesthetics that resulted in
          a 35% increase in user engagement
        </li>
        <li>
          <strong>SEO</strong>: Implemented SEO strategies boosting website
          visibility on search engine results by 40%
        </li>
      </ul>
    </div>
  </section>
</div>
